@font-face {
    font-family: "Kubo";
    src: url("/fonts/KUBO.otf") format("opentype");
}

@font-face {
    font-family: "Host";
    src: url("/fonts/HostGrotesk-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "FT88";
    src: url("/fonts/FT88-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Kubo", sans-serif;
}

body {
    font-family: "Host", sans-serif;
}

.pixel-font {
    font-family: "FT88", sans-serif;
    letter-spacing: -2vw;
}
